/*importing fonts----------------------------*/

/*Elbrush font*/
@font-face {
    font-family: brush;
    src: url(./Elbrush.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Shinetypewriter font*/
@font-face {
    font-family: typer;
    src: url(./ShineTypewriter.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Poppins font*/
@font-face {
    font-family: "Poppins";
    src: url(./Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*------------------fonts----------------------------*/



/* color palette ----------------------------------------------------------*/

:root {

    /* palette */
    --bubblegum: #E3B0C8;
    --darkberry: #6E1E3A;
    --carrot: #D76A4C;
    --lemon: #FADD8B;
    --bbb: #A4BDE0;
    --sailorb: #274F8B;
    --forest: #25533F;
    --limeade: #C9D763;


    /* light theme */
    color-scheme: light;

    --background: var(--lemon);
    --text: var(--sailorb);
}


[data-theme="dark"] {

    color-scheme: dark;

    --background: var(--darkberry);
    --text: var(--bubblegum);

}

/*-------------------------------------------------------------------------*/

body {
    background-color: var(--background);
    color: var(--text);

    transition: background-color .3s ease, color .3s ease;
}

body, h1, p{
  margin: 0;
}

.hero_blueimg {
  background-image: url("./images/purble.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  padding: 0;
}



.content_lem {
  min-height: 80vh;
  background-color: var(--lemon);
  font-family:'poppins', sans-serif;
  color: var(--sailorb);
}

.title_head {
  width: 410px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; 
}

.bg_g {
  font-family: "brush";
  color: var(--limeade);
  text-align: center;
  background-color: var(--sailorb);
  padding: 7px;
  border-radius: 10px;

  display: inline-block;

  margin-left: auto;
  margin-right: auto;
}

.under_hero {
  padding-top: 10px;
}



.nav_nav{
    display: flex;
    align-items: center;
    gap: 6rem;
    width: fit-content;
    padding: .9% 20%;
    border-radius: 999px;
    background: var(--bubblegum);
}

.nav_nav img{
  align-items:start;
}

.nav_nav a{
    text-decoration: none;
    font-family: "brush";
    font-weight: bold;
    color: var(--darkberry);
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.nav_nav a:hover{
    opacity: 0.65;
}

.in_line {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text_section {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 16px;
}

.smaller_bnuy {
  max-width: 10%;
  max-height: 10%;
}

.gif_wrap{
  position: relative;
  display: inline-block;
}

.hover_text{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s ease;

  font-family: "brush";
  color: var(--darkberry);
}

.gif_wrap:hover .hover_text{
  opacity: 1;
}

p.desc {
  max-width: 400px;
  width: 100%;
  padding-left: 0;
}

.btn {
  padding: 5%;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "brush";
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn_padded {
  margin: 4%;
}

.btn_blue {
  background-color: var(--sailorb);
  color: var(--bbb);
  border: 2px solid var(--bbb);
}

.btn_blue:hover {
  background-color: var(--bbb);
  color: var(--sailorb);
  border: 2px solid var(--sailorb);
}

.btn_red {
  background-color: var(--bubblegum);
  color: var(--darkberry);
  border: 2px solid var(--darkberry);
}

.btn_red:hover {
  background-color: var(--darkberry);
  color: var(--bubblegum);
  border: 2px solid var(--bubblegum);
}

.btn_green {
  background-color: var(--forest);
  color: var(--limeade);
  border: 2px solid var(--limeade);
}

.btn_green:hover {
  background-color: var(--limeade);
  color: var(--forest);
  border: 2px solid var(--forest);
}




.btn_group {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

.side_eye {
    width: 100%;
    height: auto;
    display: block;
}

.side_eye_wrap {
    flex-shrink: 0;
    width: clamp(140px, 20vw, 260px);
    border-radius: 20px;
    overflow: hidden;
}





.footer-16371 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  
  font-family: "Poppins", sans-serif; }

  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: var(--carrot);
    border:#FADD8B solid 2px;
    padding: 3px;
    border-radius: 10px}
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #df588a; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
    .footer-16371 .social ul li.dr a {
      color: #fa38c1; }
    .footer-16371 .social ul li.pin a {
      color: #dd4d5a; }
  .footer-16371 .copyright {
    color: #999999; }

/*carousel stuff------------------*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l4 4-4 4-1.5-1.5L3.75 4 1.25 1.5 2.75 0z'/%3E%3C/svg%3E");
}

.carousel_wrap {
    width: clamp(300px, 80%, 1000px);
    margin: 0 auto;
}


.carousel-item img {
    height: clamp(250px, 40vw, 500px);
    object-fit: contain;
}

/*------------------------------*/

/*some layout stuff*/
.layout {
    display: grid;
    grid-template-columns: minmax(0, 200px) minmax(0, 850px) minmax(0, 200px);
    gap: 20px;

    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    padding: 0 20px;
}

.aside {
    padding: 10px 14px;
    background: var(--background);
    color: var(--text);
}

.aside:first-child {
    border-radius: 10px 0 0 10px;
}

.aside:last-child {
    border-radius: 0 10px 10px 0;
}

.main {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(300px, 500px);
    gap: 40px;

    justify-content: center;
    align-items: center;
}

/*mobile layout*/
@media (max-width: 1000px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .aside {
        display: none; /* or stack them */
    }
}

/*------------------------------*/

.gif_hover {
    position: relative;
    display: inline-block;
}

.jake {
    width: 200px;
    display: block;
}

.hover_caption {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90%;
    text-align: center;

    background: var(--bubblegum);
    color: var(--sailorb);

    padding: 10px;
    border-radius: 10px;

    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 10;
}

.gif_hover:hover .hover_caption {
    opacity: 1;
}

/*switch  light and dark mode----------------------*/

.theme_toggle {
    width: 80px;
    height: 38px;

    border-radius: 50px;
    border: none;

    background: var(--bbb);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;

    cursor: pointer;

    position: relative;

    transition: background 0.3s ease;
}


.theme_toggle img {
    width: 22px;
    height: 22px;

    z-index: 1;
}


.toggle_knob {
    position: absolute;

    width: 28px;
    height: 28px;

    border-radius: 50%;

    background: var(--lemon);

    left: 5px;

    transition: transform 0.3s ease;
}

[data-theme="dark"] .toggle_knob {
    transform: translateX(42px);
}

/*-------------------------------*/