/*importing fonts----------------------------*/

/*Elbrush font*/
@font-face {
    font-family: brush;
    src: url(./Elbrush.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Shinetypewriter font*/
@font-face {
    font-family: typer;
    src: url(./ShineTypewriter.ttf);
    font-weight: normal;
    font-style: normal;
}

/*------------------fonts----------------------------*/

/*color palette----------------------------------------------------------*/

:root{
    --bubblegum: #E3B0C8;
    --darkberry: #6E1E3A;
    --carrot: #D76A4C;
    --lemon: #FADD8B;
    --bbb: #A4BDE0;
    --sailorb: #274F8B;
    --forest: #25533F;
    --limeade: #C9D763;
}

/*-------------------------------------------------------------------------*/

body, h1, p{
  margin: 0;
}

.hero_blueimg {
  background-image: url("./images/purble.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  padding: 0;
}



.content_lem {
  min-height: 80vh;
  background-color: var(--lemon);
  font-family:'typer';
  color: var(--sailorb);
}

.title_head {
  width: 410px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; 
}

.bg_g {
  font-family: "brush";
  color: var(--limeade);
  text-align: center;
  background-color: var(--sailorb);

  display: inline-block;

  margin-left: auto;
  margin-right: auto;
}

.under_hero {
  padding-top: 10px;
}

.button_bbg {
  background-color: var(--bubblegum);
  border: var(--darkberry);
  color: var(--darkberry);
  padding: 2%;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "brush";
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.nav_nav{
    display: flex;
    align-items: center;
    gap: 6rem;
    width: fit-content;
    padding: .9% 20%;
    border-radius: 999px;
    background: var(--bubblegum);
}

.nav_nav img{
  align-items:start;
}

.nav_nav a{
    text-decoration: none;
    font-family: "brush";
    font-weight: bold;
    color: var(--darkberry);
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.nav_nav a:hover{
    opacity: 0.65;
}

.in_line {
    display: flex;
    justify-content: center;
    width: 100%;
}

.smaller_bnuy {
  max-width: 10%;
  max-height: 10%;
}

.gif_wrap{
  position: relative;
  display: inline-block;
}

.hover_text{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s ease;

  font-family: "brush";
  color: var(--darkberry);
}

.gif_wrap:hover .hover_text{
  opacity: 1;
}

p.desc {
  width: 400px;
  padding-left: 20px;
  font-family: "typer";
  color: var(--sailorb);
  font-weight: bold;
}

.btn {
  background-color: var(--sailorb);
  color: var(--bbb);
  padding: 5%;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "brush";
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid var(--bbb);
}

.btn:hover {
  background-color: var(--bbb);
  color: var(--sailorb);
  border: 2px solid var(--sailorb);
}

.btn_group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.text_section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


